$padding: 9rem .5rem 4rem .5rem;
$small-padding: .5rem .8rem;
$margin: 1.2rem 0;
$specific-margin: .8rem;
$main-heading: 1.7rem;
$secondary-heading: 1.4rem;
$paragraph: 1.2rem;
$width: 100%;

@mixin flexProperty {
    display: flex;
    justify-content: center;
    align-content: center;
}

// Navigation
#navbar {
    flex-direction: column;
    padding-bottom: .2rem;
}

#navbar ul li a {
    font-size: 1rem;
    padding: .3rem .8rem;
}

// Navigation Bar: Logo and Image 
#logo {
    @include flexProperty;
    width: 40%;
    margin: 0;

    img {
        width: 100%;
    }
}

// Home Section 
#home {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column-reverse;
    padding: $padding;

    .content {
        width: $width;
        margin: $margin;

        &-main {
            width: $width;
           
            .phrase, p {
                font-size: $paragraph;
                margin: .8rem;
            }

            h1 {
                font-size: $main-heading;
                margin: .8rem;
            }
        }

        &-sub {
            width: $width;

            button {
                width: 40%;
                font-size: 1.2rem;
                padding: $margin;
                margin: 1.4rem;
                margin-left: .8rem;
            }
        }
    }

    .learningPhoto {
        width: $width;

        img {
            width: $width;
        }
    }
}

#benefits {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    padding: $padding;

    .benefits-photo {
        width: $width;

        img {
            width: $width;
        }
    }

    .benefits-main {
        width: $width;
    }
}

.benefits-facts {
    @include flexProperty;
    width: $width;

    .heading-paragraph {
        font-size: 1rem;
        margin: $specific-margin;
        margin-bottom: 0;
    }
    
    h1 {
        font-size: $main-heading;
        margin: $specific-margin;
        margin-bottom: 0;
    }

    .getBenefits {
        width: 90%;
        margin: $specific-margin;
        padding: .3rem;
    
        .content-photo {
            margin-right: .6rem;
    
            .fa-solid {
                font-size: 2.4rem;
            }

            .fa-certificate {
                font-size: 2.8rem;
            }
        }
    
        .content-main {
    
            .heading {
                font-size: $secondary-heading;
            }
    
            .description {
                font-size: 1rem;
                margin-top: .8rem;
            }
        }
    }
}

#courseList {
    @include flexProperty;
    padding: $padding;

    .courseList__div {
        @include flexProperty;
        flex-direction: column;
    
        .courseList__heading {
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            p {
                font-size: $paragraph;
                margin: $specific-margin;
                margin-left: 0;
                margin-bottom: 0;
            }
    
            h1 {
                font-size: $secondary-heading;
                font-weight: 600;
                margin: $specific-margin;
                margin-left: 0;
            }
        }

        .courseList__Subject {
            width: 95%;
            text-align: center;

            .course {
                width: 95%;
                display: inline-block;
                margin: $margin;

                h2 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: $paragraph;
                }

                button {
                    width: 60%;
                    margin: 1.5rem;
                    font-size: $paragraph;  
                }
            }
        }
    }
}

// About Us Section 
#about {
    @include flexProperty;
    padding: $padding;
    font-family: 'Roboto', sans-serif;

    .aboutUs {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: $small-padding;

        h1 {
            font-size: $main-heading;
            font-weight: 600;
            margin: $margin;
        }

        p {
            font-size: $paragraph;
            margin: .5rem 0;
        }
    }
}

// Blog Section 
#blog {
    @include flexProperty;
    padding: $padding;

    .blogs {
        @include flexProperty;
        width: $width;

        .blogs-heading {
            @include flexProperty;
            margin: $margin;

            h1 {
                font-size: $main-heading;
                font-weight: 600;
                margin: $specific-margin;
            }
        }

        .blogs-category {
            @include flexProperty;
            margin: $specific-margin;

            .topic-blog {
                @include flexProperty;
                margin: $specific-margin;
                padding: $small-padding;
                border-radius: .8rem;  
                border: 2px solid #000;

                p {
                    font-size: $paragraph; 
                }

                
            } 
        }
    }
}

// Contact Section 
#contact {
    padding: $padding;

    .contact-div {
        width: $width;

        .contact-heading {
        
            h1 {
                font-size: $main-heading;
            }
        }

        .contact-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
    
            .contact-image {
                @include flexProperty;
                width: 95%;
            }

            .contact-contents {
                width: $width;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                .contact-address {

                    h2 {
                        font-size: $secondary-heading;
                        margin: $specific-margin;
                    }

                    p {
                        font-size: $paragraph;
                        margin: $specific-margin;
                    }
                }

                .contact-online {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        span {

                            i {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Footer Section 
footer {
    padding: $small-padding;

    .footer-div {

        h3 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.1;
        }
    }
}




