@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    background: url('../assets/Background.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

// Navigation Bar 
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

    &::before {
        content: "";
        background-color: rgb(218, 218, 218);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.4;
    }
}

// Navigation Bar: Logo and Image 
#logo {
    margin: 5px 22px;

    img {
        height: 5.6rem;
        margin: 1rem 1.2rem;
    }
}

// Navigation Bar: List Styling 
#navbar {

    ul  {
        display: flex;
        font-size: 1.8rem;

        li {
            list-style: none;
            font-size: 1.8rem;
            font-family: 'Roboto', sans-serif;

            a {
                color: rgba(41, 40, 40, 0.6);
                display: block;
                padding: 3px 22px;
                border-radius: 2rem;
                text-decoration: none;

                &:hover {
                    color: #fff;
                    background-color: rgba(41, 40, 40, 0.6);
                }
            }
        }
    }
}

// Home Section 
#home {
    display: flex;
    flex-direction: row;
    padding: 3px 5rem;
    height: 52rem;
    justify-content: space-around;
    align-items: center;

    &::before {
        content: "";
        background: url('../assets/Background.png') no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 60rem;
        width: 100%;
        z-index: -1;
        opacity: .89;
    }

    .content {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;

        &-main {
            width: 100%;

            .phrase, p {
                font-size: 1.5rem;
                font-weight: 600;
                margin: 2rem;
            }

            h1 {
                font-size: 3.2rem;
                font-weight: 600;
                margin: 2rem;
            } 

            p {
                font-size: 1.2rem;
                font-weight: 300;
                margin: 2rem;
            }
        }

        &-sub {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            button {
                width: 30%;
                color: #fff;
                background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
                padding: 1rem 1.5rem;
                margin: 2.2rem;
                margin-left: 2rem;
                border-radius: 5rem;
                font-size: 1.5rem;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                cursor: pointer;
                outline: none;
                border: none;
    
                transform: translateY(0);
                transition: all .2s ease-out;
    
                &:hover {
                    color: rgba(41, 40, 40, 0.6);
                    transform: translateY(-2px);
                    box-shadow: 0 2px 1px 1px rgb(194, 194, 194);
                }
            }
        }
    }

    .learningPhoto {
        margin-bottom: 1rem;

        img {
            height: 44rem;
        }
    }

    p {
        color: #000;
    }
}

#benefits {
    height: 62rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .benefits-photo {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 54rem;
        }
    }

    .benefits-main {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
    }
}

.benefits-facts {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;

    .heading-paragraph {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 2rem;
        margin-left: 0;
        margin-bottom: 0;
    }

    h1 {
        font-size: 3.2rem;
        font-weight: 600;
        margin: 2rem;
        margin-left: 0;
    }

    .getBenefits {
        width: 70%;
        color: #000;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem;
        margin-left: 0;
        padding: .5rem 1rem;
        border: 2px solid #000;
        border-radius: .8rem;
    
        &:hover {
            color: #fff;
            background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
            border: 2px solid #fff;
        }
    
        .content-photo {
            color: #fff;
            margin-right: 1rem;
    
            img {
                color: #fff;
                width: 7rem;
                height: 7rem;
                display: inline-block;
                background-color: #fff;
                border-radius: .8rem;
            }
        }
    
        .content-main {
           
            .heading {
                display: block;
                font-size: 1.6rem;
                font-weight: 700;
            }
    
            .description {
                font-size: 1.4rem;
                margin-top: 1.4rem;
            }
        }
    }
}