@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$padding: 8rem 4rem;
$margin: 2rem 0;

@mixin flexProperty {
    display: flex;
    justify-content: center;
    align-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    background: url('../assets/Background.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

// Navigation Bar 
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

// Navigation Bar: Logo and Image 
#logo {
    margin: 5px 22px;

    img {
        height: 5.6rem;
        margin: 1rem 1.2rem;
    }
}

// Navigation Bar: List Styling 
#navbar {

    ul  {
        display: flex;
        font-size: 1.8rem;

        li {
            list-style: none;
            font-size: 1.8rem;
            font-family: 'Roboto', sans-serif;

            a {
                color: rgba(41, 40, 40, 0.6);
                display: block;
                padding: 3px 22px;
                border-radius: 2rem;
                text-decoration: none;

                &:hover {
                    color: #fff;
                    background-color: rgba(41, 40, 40, 0.6);
                }
            }
        }
    }
}

// Home Section 
#home {
    display: flex;
    flex-direction: row;
    padding: 5rem 4rem;
    justify-content: space-around;
    align-items: center;

    .content {
        // height: 74%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;

        &-main {
            width: 100%;

            .phrase, p {
                font-size: 1.5rem;
                font-weight: 600;
                margin: $margin;
            }

            h1 {
                font-size: 3.2rem;
                font-weight: 600;
                margin: $margin;
            } 

            p {
                font-size: 1.2rem;
                font-weight: 300;
                margin: $margin;
            }
        }

        &-sub {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            button {
                width: 40%;
                color: #fff;
                background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
                padding: 1rem;
                margin: $margin;
                // margin-left: 2rem;
                border-radius: 5rem;
                font-size: 1.4rem;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                cursor: pointer;
                outline: none;
                border: none;
    
                transform: translateY(0);
                transition: all .2s ease-out;
    
                &:hover {
                    color: rgba(41, 40, 40, 0.6);
                    transform: translateY(-2px);
                    box-shadow: 0 2px 1px 1px rgb(194, 194, 194);
                }
            }
        }
    }

    .learningPhoto {
        max-width: 64rem;

        img {
            width: 100%;
        }
    }

    p {
        color: #000;
    }
}

// Benfits Section 
#benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;

    .benefits-photo {
        @include flexProperty;
        width: 45%;

        img {
            width: 100%;
        }
    }

    .benefits-main {
        @include flexProperty;
        height: 90%;
        width: 50%;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
    }
}

.benefits-facts {
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;

    .heading-paragraph {
        font-size: 1.4rem;
        font-weight: 700;
        margin: $margin;
        margin-left: 0;
        margin-bottom: 0;
    }

    h1 {
        font-size: 2.8rem;
        font-weight: 600;
        margin: 1.5rem;
        margin-left: 0;
    }

    .getBenefits {
        width: 95%;
        color: #000;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: .6rem;
        margin-left: 0;
        padding: .5rem 1rem;
        border: 2px solid #000;
        border-radius: .8rem;
        cursor: pointer;
    
        &:hover {
            color: #fff;
            background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
            border: 2px solid #fff;
        }
    
        .content-photo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 1rem;
    
            .fa-solid {
                font-size: 4rem;
                display: inline-block;
                border-radius: .8rem;
            }

            .fa-certificate {
                font-size: 5rem;
            }
        }
    
        .content-main {

            .heading {
                display: block;
                font-size: 1.4rem;
                font-weight: 700;
            }
    
            .description {
                font-size: 1.2rem;
                margin-top: 1rem;
            }
        }
    }
}

// Course List Section 
#courseList {
    @include flexProperty;
    padding: $padding;
    font-family: 'Roboto', sans-serif;

    .courseList__div {
        @include flexProperty;
        flex-direction: column;

        .courseList__heading {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            P {
                font-size: 1.4rem;
                font-weight: 700;
                margin: 1.5rem;
                margin-left: 0;
                margin-bottom: 0;
            }
    
            h1 {
                font-size: 2.8rem;
                font-weight: 600;
                margin: 1.5rem;
                margin-left: 0;
            }
        }

        .courseList__Subject {
            // width: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 1rem;

            .course {
                // @include flexProperty;
                width: 22%;
                flex-direction: column;
                padding: .6rem;
                text-align: center;
                margin: .5rem;
                background-color: rgb(245, 248, 242);
                border: 2px solid #000;
                border-radius: 1rem;

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.8rem;
                    margin: 1rem;
                    color: rgb(161, 160, 160);
                }

                button {
                    display: inline-block;
                    width: 60%;
                    color: #fff;
                    background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
                    padding: 1rem;
                    border-radius: 5rem;
                    font-size: 1.2rem;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    cursor: pointer;
                    outline: none;
                    border: none;
    
                    transform: translateY(0);
                    transition: all .2s ease-out;
    
                    &:hover {
                       color: rgba(41, 40, 40, 0.6);
                       transform: translateY(-2px);
                       box-shadow: 0 2px 1px 1px rgb(194, 194, 194);
                    }
                }
            }
        }
    }
}

// About Us Section 
#about {
    @include flexProperty;
    padding: $padding;
    font-family: 'Roboto', sans-serif;

    .aboutUs {
        padding: 1rem 2rem;

        h1 {
            font-size: 2.8rem;
            font-weight: 600;
            margin: 1.5rem;
            margin-left: 0;
        }

        p {
            font-size: 1.8rem;
            margin: 1rem;
            margin-left: 0;
            line-height: 1.6;
            color: #000;
        }
    }
}

// Blog Section 
#blog {
    @include flexProperty;
    padding: $padding;
    font-family: 'Roboto', sans-serif;
    
    .blogs {
        @include flexProperty;
        flex-direction: column;

        .blogs-heading {
            // width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center; 
    
            h1 {
                font-size: 2.8rem;
                font-weight: 600;
                margin: 1.5rem;
                margin-left: .5rem; 
            }
        }

        .blogs-category {
            @include flexProperty;
            flex-wrap: wrap;

            .topic-blog {
                @include flexProperty;
                margin: 1.2rem;
                padding: 1rem 1.4rem;
                border-radius: 1rem;  
                cursor: pointer;
                border: 2px solid #000;

                &:hover {
                    color: #fff;
                    background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
                    border: 2px solid #fff;
                }

                p {
                    font-size: 1.8rem; 
                }

                
            } 
        }
    }
}

// Contact Section 
#contact {
    @include flexProperty;
    padding: $padding;
    font-family: 'Roboto', sans-serif;

    .contact-div {
        @include flexProperty;
        flex-direction: column;

        .contact-heading {
            // width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        
            h1 {
                font-size: 2.8rem;
                font-weight: 600;
                margin: 1.5rem;
                margin-left: .5rem;
            }
        }

        .contact-content {
            display: flex;
            justify-content: space-around;
            align-content: center;
            padding: 4rem .5rem;

            .contact-image {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 100%;
                }
            }

            .contact-contents {
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                flex-direction: column;
            
                .contact-address {
                    @include flexProperty;
                    flex-direction: column;

                    h2 {
                        font-size: 2rem;
                        font-weight: 600;
                        margin: 0 1.5rem;
                    }

                    p {
                        margin: 0 1.5rem;
                        margin-bottom: 1rem;
                        line-height: 1.4;
                        font-size: 1.6rem; 
                    }
                }

                .contact-online {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    
                    p {
                        margin: 0 1rem;
                        padding: .5rem;
                        border-radius: .5rem;

                        span {

                            i {
                                font-size: 3rem;
                            }
                        }

                        &:hover {
                            color: #fff;
                            background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
                        }
                    }
                }
            }
        }
    }
}

// Footer Section 
footer {
    @include flexProperty; 
    color: #fff;
    padding: 1rem 2rem;
    background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
    font-family: 'Roboto', sans-serif;
    
    .footer-div {
        @include flexProperty;
        flex-direction: column;
        text-align: center;

        h3 {
            font-size: 1.8rem;
            font-weight: 600;
        }

        p {
            margin: 1rem;
            margin-bottom: 0;
            line-height: 1.4;
            font-size: 1.6rem; 
        }
    }
}