@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  background: url("../assets/Background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

#logo {
  margin: 5px 22px;
}

#logo img {
  height: 5.6rem;
  margin: 1rem 1.2rem;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
}

#navbar ul li {
  list-style: none;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

#navbar ul li a {
  color: rgba(41, 40, 40, 0.6);
  display: block;
  padding: 3px 22px;
  border-radius: 2rem;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: #fff;
  background-color: rgba(41, 40, 40, 0.6);
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5rem 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

#home .content-main {
  width: 100%;
}

#home .content-main .phrase, #home .content-main p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
}

#home .content-main h1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin: 2rem 0;
}

#home .content-main p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 2rem 0;
}

#home .content-sub {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .content-sub button {
  width: 40%;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#60d6d6), to(#2ca7a7));
  background-image: linear-gradient(to right, #60d6d6, #2ca7a7);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 5rem;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#home .content-sub button:hover {
  color: rgba(41, 40, 40, 0.6);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 2px 1px 1px #c2c2c2;
          box-shadow: 0 2px 1px 1px #c2c2c2;
}

#home .learningPhoto {
  max-width: 64rem;
}

#home .learningPhoto img {
  width: 100%;
}

#home p {
  color: #000;
}

#benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 4rem;
}

#benefits .benefits-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 45%;
}

#benefits .benefits-photo img {
  width: 100%;
}

#benefits .benefits-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 90%;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.benefits-facts {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits-facts .heading-paragraph {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 2rem 0;
  margin-left: 0;
  margin-bottom: 0;
}

.benefits-facts h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1.5rem;
  margin-left: 0;
}

.benefits-facts .getBenefits {
  width: 95%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .6rem;
  margin-left: 0;
  padding: .5rem 1rem;
  border: 2px solid #000;
  border-radius: .8rem;
  cursor: pointer;
}

.benefits-facts .getBenefits:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#60d6d6), to(#2ca7a7));
  background-image: linear-gradient(to right, #60d6d6, #2ca7a7);
  border: 2px solid #fff;
}

.benefits-facts .getBenefits .content-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.benefits-facts .getBenefits .content-photo .fa-solid {
  font-size: 4rem;
  display: inline-block;
  border-radius: .8rem;
}

.benefits-facts .getBenefits .content-photo .fa-certificate {
  font-size: 5rem;
}

.benefits-facts .getBenefits .content-main .heading {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
}

.benefits-facts .getBenefits .content-main .description {
  font-size: 1.2rem;
  margin-top: 1rem;
}

#courseList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8rem 4rem;
  font-family: 'Roboto', sans-serif;
}

#courseList .courseList__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 95%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#courseList .courseList__div .courseList__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#courseList .courseList__div .courseList__heading P {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1.5rem;
  margin-left: 0;
  margin-bottom: 0;
}

#courseList .courseList__div .courseList__heading h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1.5rem;
  margin-left: 0;
}

#courseList .courseList__div .courseList__Subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

#courseList .courseList__div .courseList__Subject .course {
  width: 26%;
  padding: 1rem;
  text-align: center;
  margin: .5rem .5rem .5rem 0;
  background-color: #f5f8f2;
  border: 2px solid #000;
  border-radius: 1rem;
}

#courseList .courseList__div .courseList__Subject .course h2 {
  font-size: 2rem;
}

#courseList .courseList__div .courseList__Subject .course p {
  font-size: 1.8rem;
  margin: 1rem;
  color: #a1a0a0;
}

#courseList .courseList__div .courseList__Subject .course button {
  display: inline-block;
  width: 60%;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#60d6d6), to(#2ca7a7));
  background-image: linear-gradient(to right, #60d6d6, #2ca7a7);
  padding: 1rem;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#courseList .courseList__div .courseList__Subject .course button:hover {
  color: rgba(41, 40, 40, 0.6);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 2px 1px 1px #c2c2c2;
          box-shadow: 0 2px 1px 1px #c2c2c2;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8rem 4rem;
  font-family: 'Roboto', sans-serif;
}

#about .aboutUs {
  padding: 1rem 2rem;
}

#about .aboutUs h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1.5rem;
  margin-left: 0;
}

#about .aboutUs p {
  font-size: 1.8rem;
  margin: 1rem;
  margin-left: 0;
  line-height: 1.6;
  color: #000;
}

#blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8rem 4rem;
  font-family: 'Roboto', sans-serif;
}

#blog .blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .blogs .blogs-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

#blog .blogs .blogs-heading h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1.5rem;
  margin-left: .5rem;
}

#blog .blogs .blogs-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blog .blogs .blogs-category .topic-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1.2rem;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid #000;
}

#blog .blogs .blogs-category .topic-blog:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#60d6d6), to(#2ca7a7));
  background-image: linear-gradient(to right, #60d6d6, #2ca7a7);
  border: 2px solid #fff;
}

#blog .blogs .blogs-category .topic-blog p {
  font-size: 1.8rem;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8rem 4rem;
  font-family: 'Roboto', sans-serif;
}

#contact .contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-div .contact-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact-div .contact-heading h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1.5rem;
  margin-left: .5rem;
}

#contact .contact-div .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 4rem .5rem;
}

#contact .contact-div .contact-content .contact-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 50%;
}

#contact .contact-div .contact-content .contact-image img {
  width: 100%;
}

#contact .contact-div .contact-content .contact-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-div .contact-content .contact-contents .contact-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-div .contact-content .contact-contents .contact-address h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 1.5rem;
}

#contact .contact-div .contact-content .contact-contents .contact-address p {
  margin: 0 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1.6rem;
}

#contact .contact-div .contact-content .contact-contents .contact-online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact-div .contact-content .contact-contents .contact-online p {
  margin: 0 1rem;
  padding: .5rem;
  border-radius: .5rem;
}

#contact .contact-div .contact-content .contact-contents .contact-online p span i {
  font-size: 3rem;
}

#contact .contact-div .contact-content .contact-contents .contact-online p:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#60d6d6), to(#2ca7a7));
  background-image: linear-gradient(to right, #60d6d6, #2ca7a7);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  padding: 1rem 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#60d6d6), to(#2ca7a7));
  background-image: linear-gradient(to right, #60d6d6, #2ca7a7);
  font-family: 'Roboto', sans-serif;
}

footer .footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .footer-div h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

footer .footer-div p {
  margin: 1rem;
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 1.6rem;
}
/*# sourceMappingURL=style.css.map */