#navbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar ul li a {
  font-size: 1.4rem;
  padding: 0 1.2rem;
}

#logo {
  margin: 4px 1.5rem;
}

#logo img {
  max-height: 5rem;
  margin: .7rem;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 6rem 0.5rem 2rem 0.5rem;
  outline: 1px solid red;
}

#home .content {
  max-width: 50%;
}

#home .content-main {
  width: 100%;
  font-size: 1.2rem;
}

#home .content-main .phrase, #home .content-main p {
  font-style: 1.4em;
  margin: 1.6rem;
}

#home .content-main h1 {
  font-size: 2em;
  margin: 1.6rem;
}

#home .content-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

#home .content-sub button {
  width: 100%;
  font-size: 1.2rem;
  margin: .9rem;
}

#home .learningPhoto {
  max-width: 47%;
  margin: 1.5rem 0 1.5rem 1.5rem;
  outline: 1px solid red;
}

#home .learningPhoto img {
  width: 100%;
}

#benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 6rem 0.5rem 2rem 0.5rem;
  outline: 1px solid red;
}

#benefits .benefits-photo {
  width: 47%;
}

#benefits .benefits-photo img {
  max-height: 20rem;
}

#benefits .benefits-main {
  width: 47%;
}

.benefits-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 90%;
}

.benefits-facts .heading-paragraph {
  font-size: 1rem;
  margin: 1rem 1rem 0 0;
}

.benefits-facts h1 {
  font-size: 1.7rem;
  margin: 1rem 1rem 0 0;
}

.benefits-facts .getBenefits {
  width: 90%;
  margin: 1rem 1rem 0 0;
  padding: .5rem;
}

.benefits-facts .getBenefits .content-photo {
  margin-right: .6rem;
}

.benefits-facts .getBenefits .content-photo .fa-solid {
  font-size: 2.4rem;
}

.benefits-facts .getBenefits .content-photo .fa-certificate {
  font-size: 2.8rem;
}

.benefits-facts .getBenefits .content-main .heading {
  font-size: 1.4rem;
}

.benefits-facts .getBenefits .content-main .description {
  font-size: 1rem;
  margin-top: .7rem;
}

#courseList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 6rem 0.5rem 2rem 0.5rem;
  outline: 1px solid red;
}

#courseList .courseList__div {
  outline: 1px solid red;
}

#courseList .courseList__div .courseList__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: 1px solid red;
}

#courseList .courseList__div .courseList__heading p {
  font-size: 1rem;
  margin: 1rem 1rem 0 0;
  outline: 1px solid red;
}

#courseList .courseList__div .courseList__heading h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1rem 1rem 0 0;
  outline: 1px solid red;
}

#courseList .courseList__div .courseList__Subject {
  outline: 1px solid red;
}

#courseList .courseList__div .courseList__Subject .course {
  width: 40%;
  padding: 1rem;
  margin: .8rem;
  outline: 1px solid red;
}

#courseList .courseList__div .courseList__Subject .course h2 {
  font-size: 1.4rem;
}

#courseList .courseList__div .courseList__Subject .course p {
  font-size: 1rem;
}

#courseList .courseList__div .courseList__Subject .course button {
  width: 60%;
  margin: 1.5rem;
  font-size: 1rem;
}

#about {
  padding: 6rem 0.5rem 2rem 0.5rem;
  outline: 1px solid red;
}

#about .aboutUs h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1rem 1rem 0 0;
}

#about .aboutUs p {
  font-size: 1.2rem;
}

#blog {
  padding: 6rem 0.5rem 2rem 0.5rem;
  outline: 1px solid red;
}

#blog .blogs .blogs-heading h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1rem 1rem 0 0;
}

#blog .blogs .blogs-category .topic-blog {
  margin: 1rem;
  padding: .8rem 1rem;
  border-radius: .8rem;
  border: 2px solid #000;
}

#blog .blogs .blogs-category .topic-blog p {
  font-size: 1.2rem;
}

#contact {
  padding: 6rem 0.5rem 2rem 0.5rem;
  outline: 1px solid red;
}

#contact .contact-div .contact-heading h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1rem 1rem 0 0;
}

#contact .contact-div .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem .5rem;
}

#contact .contact-div .contact-content .contact-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40%;
}

#contact .contact-div .contact-content .contact-contents {
  outline: 1px solid red;
}

#contact .contact-div .contact-content .contact-contents .contact-address h2 {
  font-size: 1.6rem;
  margin: 1.5rem;
}

#contact .contact-div .contact-content .contact-contents .contact-address p {
  font-size: 1.2rem;
  margin: 0 1.5rem;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 1.4rem;
}

#contact .contact-div .contact-content .contact-contents .contact-online p {
  font-size: 1.2rem;
}

#contact .contact-div .contact-content .contact-contents .contact-online p span i {
  font-size: 2rem;
}

#contact .contact-div .contact-content .contact-contents .contact-online p:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#60d6d6), to(#2ca7a7));
  background-image: linear-gradient(to right, #60d6d6, #2ca7a7);
}

footer .footer-div h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

footer .footer-div p {
  font-size: 1.2rem;
  line-height: 1.4;
}
/*# sourceMappingURL=tablet.css.map */