$padding: 6rem .5rem 2rem .5rem;
$margin: 1rem 1rem 0 0;

@mixin flexProperty {
    display: flex;
    justify-content: center;
    align-content: center;
}

#navbar {
    flex-direction: row;

    ul {

        li {

            a {
                font-size: 1.4rem;
                padding: 0 1.2rem;
            }
        }
    }
}

// Navigation Bar: Logo and Image 
#logo {
    margin: 4px 1.5rem;

    img {
        max-height: 5rem;
        margin: .7rem;
    }
}

// Home Section 
#home {
    // max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: $padding;
    outline: 1px solid red;

    .content {
        max-width: 50%;
        // font-size: 1rem;
        // outline: 1px solid red;
        
        &-main {
            width: 100%;
            font-size: 1.2rem;

            .phrase, p {
                font-style: 1.4em;
                margin: 1.6rem;
                // outline: 1px solid red;
            }

            h1 {
                font-size: 2em;
                margin: 1.6rem;
                // outline: 1px solid red;
            }
        }

        &-sub {
            @include flexProperty;
            width: 100%;
            // outline: 1px solid red;

            button {
                width: 100%;
                font-size: 1.2rem;
                margin: .9rem;
            }
        }
    }

    .learningPhoto {
        max-width: 47%;
        margin: 1.5rem 0 1.5rem 1.5rem;
        outline: 1px solid red;

        img {
            width: 100%;
        }
    }
}

#benefits {
    // height: 42rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: $padding;
    outline: 1px solid red;

    .benefits-photo {
        width: 47%;
        
        img {
            max-height: 20rem;
        }
    }

    .benefits-main {
        width: 47%;
    }
}

.benefits-facts {
    @include flexProperty;
    width: 90%;
    // height: 80%;

    .heading-paragraph {
        font-size: 1rem;
        margin: $margin;
    }
    
    h1 {
        font-size: 1.7rem;
        margin: $margin;
    }

    .getBenefits {
        width: 90%;
        margin: $margin;
        padding: .5rem;
    
        .content-photo {
            margin-right: .6rem;
    
            .fa-solid {
                font-size: 2.4rem;
            }

            .fa-certificate {
                font-size: 2.8rem;
            }
        }
    
        .content-main {
    
            .heading {
                font-size: 1.4rem;
            }
    
            .description {
                font-size: 1rem;
                margin-top: .7rem;
            }
        }
    }
}

#courseList {
    @include flexProperty;
    // height: 60rem;
    padding: $padding;
    outline: 1px solid red;

    .courseList__div {
        outline: 1px solid red;

        .courseList__heading {
            @include flexProperty;
            flex-direction: column;
            outline: 1px solid red;

            p {
                font-size: 1rem;
                margin: $margin;
                outline: 1px solid red;
            }
    
            h1 {
                font-size: 1.7rem;
                font-weight: 600;
                margin: $margin;
                outline: 1px solid red;
            }
        }

        .courseList__Subject {
            outline: 1px solid red;

            .course {
                width: 40%;
                padding: 1rem;
                margin: .8rem;
                outline: 1px solid red;

                h2 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 1rem;
                }

                button {
                    width: 60%;
                    margin: 1.5rem;
                    font-size: 1rem;  
                }
            }
        }
    }
}

// About Us Section 
#about {
    // height: 40rem;
    padding: $padding;
    outline: 1px solid red;

    .aboutUs {
        
        h1 {
            font-size: 1.7rem;
            font-weight: 600;
            margin: $margin;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

// Blog Section 
#blog {
    // height: 40rem;
    padding: $padding;
    outline: 1px solid red;
    
    .blogs {

        .blogs-heading {

            h1 {
                font-size: 1.7rem;
                font-weight: 600;
                margin: $margin;
            }
        }

        .blogs-category {
    
            .topic-blog {
                margin: 1rem;
                padding: .8rem 1rem;
                border-radius: .8rem;  
                border: 2px solid #000;

                p {
                    font-size: 1.2rem; 
                }

                
            } 
        }
    }
}
// Contact Section 
#contact {
    // height: 40rem;
    padding: $padding;
    outline: 1px solid red;

    .contact-div {

        .contact-heading {

            h1 {
                font-size: 1.7rem;
                font-weight: 600;
                margin: $margin;
            }
        }

        .contact-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4rem .5rem;

            .contact-image {
                @include flexProperty;
                width: 40%;
            }

            .contact-contents {
                outline: 1px solid red;

                .contact-address {

                    h2 {
                        font-size: 1.6rem;
                        margin: 1.5rem;
                    }

                    p {
                        font-size: 1.2rem;
                        margin: 0 1.5rem;
                        margin-bottom: 0;
                        line-height: 1.2;
                        font-size: 1.4rem; 
                    }
                }

                .contact-online {
                    
                    p {
                        font-size: 1.2rem;

                        span {

                            i {
                                font-size: 2rem;
                            }
                        }

                        &:hover {
                            color: #fff;
                            background-image: linear-gradient(to right, rgba(96, 214, 214, 50%), rgba(44, 167, 167, 100%));
                        }
                    }
                }
            }
        }
    }
}
// Footer Section 
footer {

    .footer-div {

        h3 {
            font-size: 1.5rem;
            line-height: 1.4;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.4;
        }
    }
}
