#navbar {
    flex-direction: row;
    padding-bottom: .1rem;

    ul {

        li {

            a {
                font-size: 1.4rem;
                padding: 0 16px;
            }
        }
    }
}

// Navigation Bar: Logo and Image 
#logo {
    margin: 4px 1.5rem;

    img {
        height: 5rem;
        margin: .7rem;
    }
}

// Home Section 
#home {
    display: flex;
    height: 50rem;
    padding: 3px 4rem;

    &::before {
        height: 55rem;
    }

    .content {
        height: 80%;

        &-main {

            .phrase, p {
                font-style: 1.4rem;
                margin: 1.6rem;
            }

            h1 {
                font-size: 2.5rem;
                margin: 1.6rem;
            }
        }

        &-sub {
            width: 100%;

            button {
                width: 40%;
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }

    .learningPhoto {
        margin-bottom: 2rem;

        img {
            max-height: 26rem;
        }
    }
}
