#navbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar ul li a {
  font-size: 1.4rem;
  padding: 0 1.2rem;
}

#logo {
  margin: 4px 1.5rem;
}

#logo img {
  max-height: 5rem;
  margin: .7rem;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50rem;
  padding: 3px 4rem;
}

#home::before {
  height: 55rem;
}

#home .content {
  height: 50%;
}

#home .content-main .phrase, #home .content-main p {
  font-style: 1.4rem;
  margin: 1.6rem;
}

#home .content-main h1 {
  font-size: 2rem;
  margin: 1.6rem;
}

#home .content-sub {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#home .content-sub button {
  width: 60%;
  font-size: 1.2rem;
  margin: .6rem;
  margin-left: 1.6rem;
  padding: .8rem;
}

#home .learningPhoto {
  margin-bottom: 2rem;
}

#home .learningPhoto img {
  max-height: 20rem;
}

#benefits {
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#benefits .benefits-photo {
  width: 47%;
}

#benefits .benefits-photo img {
  max-height: 20rem;
}

#benefits .benefits-main {
  width: 47%;
}

.benefits-facts {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.benefits-facts .heading-paragraph {
  font-size: 1rem;
  margin: 1rem;
  margin-left: 0;
  margin-bottom: 0;
}

.benefits-facts h1 {
  font-size: 1.7rem;
  margin: 1rem;
  margin-left: 0;
  margin-bottom: 0;
}

.benefits-facts .getBenefits {
  width: 90%;
  margin: 1rem;
  margin-left: 0;
  padding: .5rem;
}

.benefits-facts .getBenefits .content-photo {
  margin-right: .6rem;
}

.benefits-facts .getBenefits .content-photo .fa-solid {
  font-size: 2.4rem;
}

.benefits-facts .getBenefits .content-photo .fa-certificate {
  font-size: 2.8rem;
}

.benefits-facts .getBenefits .content-main .heading {
  font-size: 1.4rem;
}

.benefits-facts .getBenefits .content-main .description {
  font-size: 1rem;
  margin-top: .7rem;
}

#courseList {
  height: 68rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#courseList .courseList__div .courseList__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#courseList .courseList__div .courseList__heading p {
  font-size: 1rem;
  margin: 1rem;
  margin-left: 0;
  margin-bottom: 0;
}

#courseList .courseList__div .courseList__heading h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1rem;
  margin-left: 0;
}

#courseList .courseList__div .courseList__Subject {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#courseList .courseList__div .courseList__Subject .course {
  padding: .8rem 1rem;
  margin: .8rem;
}

#courseList .courseList__div .courseList__Subject .course h2 {
  font-size: 1.4rem;
}

#courseList .courseList__div .courseList__Subject .course p {
  font-size: 1rem;
}

#courseList .courseList__div .courseList__Subject .course button {
  width: 60%;
  margin: 1.5rem;
  font-size: 1rem;
}
/*# sourceMappingURL=tablet.css.map */